/****************************
MOBILE AND TABLET BLOG AND CONTACT PAGE STYLE
****************************/

@media (max-width: 780px) {
    .blog h1, .contact h1 {
        margin-top: -100px;
    }
    .blog{
        aside{ 
            .blogAside, .blogAsideImg {
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                height: auto;
    }}}

    .blog{
        aside {

            .blogAsideImg {
                width: 300px;
                height: 200px;
                box-shadow: 15px 15px $highlightC;
            }
        }
    }
}
/****************************
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
****************************/