/****************************
FONT FAMILIES AND GENERAL SIZING
****************************/
h1 {/*79*/
    font-size: calc(5rem + 1vw);
    @include headerFont($highlightC);
    text-shadow: 2px 3px 3px rgba($color: #000000, $alpha: .5);
}

@media (max-width: 1022px) {
h1 {
    font-size: calc(3.5rem + 1vw);
    }
}

h2 {/*45*/
    font-size: calc(2.25rem + 1vw);
    @include headerFont();
    margin-bottom: 2vw;
}

h3 {/*40*/
    font-size: calc(2rem + 1vw);
    margin-bottom: 1vw;
    @include headerFont();
    color: $darkGroundCopyC;
}

h4 {
    font-size: calc(1rem + 1vw);
    @include headerFont($highlightC);
}

li {/*nav 20*/
    font-size: calc(0.5rem + 1vw);
    font-family: $copyFF;
}

p {
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 1px;
    font-family: $copyFF;
}

.highlights p {
    color: $darkGroundCopyC;
}

footer span, footer span a {
    font-family: $copyFF;
    color: $accentC;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 10px 0;
}

button, button a {
    font-size: calc(0.5rem + 1vw);
}

.contact span {
    font-size: calc(0.75rem + 1vw);
    font-family: $copyFF;
    line-height: 2.5rem;
}

.commentContents span {
    font-size: calc(0.75rem + 1vw);
    font-family: $copyFF;
}

.blogAside li {
    font-size: 1.5rem;
}

input, textarea {
    font-family: $copyFF;
    font-size: 1.5rem;
}
/****************************
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
****************************/